# IDE files
.idea/
.vscode/
*.iml

# Compiled files
target/
dist/
node_modules/

# Logs
logs/
*.log

# Environment files
.env
.env.local
.env.*.local

# System files
.DS_Store
Thumbs.db

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties
build/
.settings/
.project
.classpath
apache-maven-3.9.6/

# Frontend
/node_modules
/dist
.npm
.eslintcache

# Local configuration files
application-local.properties
application-local.yml
application-dev.yml